.footer {
  padding-top: 60px;
  background-color: #00131E;
  color: var(--colorWhite);
  @media (max-width: 576px) {
    padding-top: 45px;
  }
  a {
    transition: all 0.3s ease 0s;
    color: var(--colorWhite);
    &:hover {
      color: var(--colorBlue);
      text-decoration: underline;
    }
  }
  // .footer__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  // .footer__block

  &__block {
    flex: 0 1 25%;
    @media (max-width: 768px) {
      flex-basis: 50%;
      margin-bottom: 40px;
    }
    @media (max-width: 576px) {
      flex-basis: 100%;
    }
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        margin-top: 10px;
        line-height: 20px;
      }
    }
    @media (max-width: 576px) {
      text-align: center;
    }
    &:first-child {
      @media (max-width: 992px) {
        padding-right: 20px;
        @media (max-width: 576px) {
          padding-right: 0;
        }
      }
    }
  }

  // .footer__logo

  &__logo {}

  // .footer__glasdoor

  &__glasdoor {
    margin-top: 30px;
    @media (max-width: 576px) {
      margin-top: 15px;
    }
  }

  // .footer__social

  &__social {
    margin-top: 30px;
    a {
      display: inline-block;
      margin-right: 10px;
      background-color: white;
      width: 30px;
      height: 30px;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
      &:hover {
        box-shadow: 1px 1px 3px rgba(255,255,255,0.56);
      }
      .svg {
        width: 30px;
        height: 30px;
        background-color: #00131E;
        font-size: 10px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        &:hover {
          background-color: var(--colorBlue);;
        }
      }
    }
  }

  // .footer__copy

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      align-items: flex-start
    }
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__phone {
    padding-left: 35px;
    background-image: url('../img/phone-svgrepo-com.svg');
    background-position: -2px 0px;
    background-size: 18px 17px;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
      background-image: none;
      padding-left: 0;
    }
  }
  &__email {
    padding-left: 35px;
    background-image: url('../img/mail-svgrepo-com.svg');
    background-position: left 1px;
    background-size: 15px 17px;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
      background-image: none;
      padding-left: 0;
    }
  }
  &__url {
    padding-left: 35px;
    background-image: url('../img/www-svgrepo-com.svg');
    background-position: -2px 4px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
      background-image: none;
      padding-left: 0;
    }
  }
}
.address {
  a {
    display: block;
    margin-top: 10px;
  }
  address {
    margin-top: 10px;
    line-height: 30px;
    padding-left: 35px;
    background-image: url('../img/location-svgrepo-com.svg');
    background-position: left 7px;
    background-size: 15px 17px;
    background-repeat: no-repeat;
    @media (max-width: 576px) {
      background-image: none;
      padding-left: 0;
    }
  }
}



.block {

  // .block__name

  &__name {
    font-weight: 700;
    line-height: 20px;
  }

}
.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 75px;
  background-color: #00080D;
  @media (max-width: 768px) {
    margin-top: 30px;
  }
  @media (max-width: 576px) {
    font-size: 12px;
  }
}
.copy-footer {
  font-size: 13px;
  line-height: 20px;
  color: #CCCCCC;
  a {
    color: #CCCCCC;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  @media (max-width: 576px) {
    font-size: 12px;
  }
  &__left {
    @media (max-width: 768px) {
      max-width: 55%;
      p {
        margin: 0;
      }
    }
    @media (max-width: 576px) {
      max-width: 100%;
      p {
        display: block;
        margin: 0 auto;
      }
    }
  }

  // .copy-footer__right

  &__right {
    //width: 100%;
  }

  // .copy-footer__links

  &__links {
    display: flex;
    a {
      //display: block;
      margin: 0 10px;
      //margin: 0 auto;
      font-size: 13px;
      line-height: 20px;
      color: #CCCCCC;
      width: 100%;
      @media (max-width: 576px) {
        margin: 0;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    @media (max-width: 576px) {
      justify-content: center;
    }
  }

  // .copy-footer__privacy

  &__privacy {
    white-space: nowrap;
    @media (max-width: 576px) {
      font-size: 12px !important;
    }

  }

  // .copy-footer__cookie

  &__cookie {
    white-space: nowrap;
    @media (max-width: 576px) {
      font-size: 12px !important;
    }
  }
}


