/* stylelint-disable */

@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin image-set($pathToImage) {
  background-image: url("#{$pathToImage}.jpg");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: image-set(
    /* stylelint-disable-next-line function-comma-newline-after */
    "#{$pathToImage}.avif"type("image/avif"),
    "#{$pathToImage}.webp"type("image/webp"),
    "#{$pathToImage}.jpg"type("image/jpg")
  );
}

@mixin elipse {
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: var(--colorWhite);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 110%;
    transform: translateX(-5%);
    height: 150px;
    z-index: 1;
    @media (max-width: 768px) {
      top: -10px;
    }
    @media (max-width: 576px) {
      position: static;
    }
  }
}

@mixin ring {
  &:after {
    content:'';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--colorWhite);
    border: 40px solid var(--blueBg);
    border-radius: 50%;
    z-index: -1;
  }
}

@mixin circle-big {
  &:after {
    content:'';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--blueBg);
    border-radius: 50%;
    z-index: -1;
  }
}

@mixin circle-sm {
  &:before {
    content:'';
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--blueBg);
    border-radius: 50%;
    z-index: -1;
  }
}
