<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__block logos">
        <a href="#" class="footer__logo">
          <img src="img/logo-footer.svg" alt="Logo">
        </a>
        <div class="footer__glasdoor">
          <img src="img/rating-footer.svg" alt="Rating">
        </div>
        <div class="footer__social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer__block footer-menu">
        <div class="block__name">Company</div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Success</a></li>
          <li><a href="#">Career with Us</a></li>
          <li><a href="#">Definitions</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer__block partner-footer">
        <div class="block__name">Partner Services</div>
        <ul>
          <li><a href="#">Estate Agents</a></li>
          <li><a href="#">Solicitors</a></li>
          <li><a href="#">Finance Services</a></li>
          <li><a href="#">Funeral Directors</a></li>
        </ul>
      </div>
      <div class="footer__block address">
        <div class="block__name">Head Office</div>
        <address>Second Floor Office Suite<br>
          Marlin 459 London Road, Camberley<br> Surrey GU15 3JA
        </address>
        <a href="01276538358">01276 538 358</a>
        <a href="mailto:enquiries@lifetimelegal.co.uk">enquiries@lifetimelegal.co.uk</a>
        <a href="http://www.lifetimelegal.co.uk">www.lifetimelegal.co.uk</a>
      </div>
    </div>
    <div class="footer__copy copy-footer">
      <div class="copy-footer__left">
        <p>©2018 Lifetime Web - Simple Solutions for Complicated Spaces. Designed by Webcapitan</p>
      </div>
      <div class="copy-footer__right">
        <div class="copy-footer__links">
          <a href="#" class="copy-footer__privacy">Privacy Notice</a>
          <a href="#" class="copy-footer__cookie">Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
