<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <img src="img/logo-header.svg" alt="Logo">
      </a>
      <nav class="header__nav nav-header">
        <ul data-menu>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Partner Services</a>
            <ul class="submenu">
              <li><a href="services-estateagents.html">Property services</a></li>
              <li><a href="services-funeraldirectors.html">legal services</a></li>
              <li><a href="services-financeservices.html">finance services</a></li>
            </ul>
          </li>
          <li><a href="#">About Us</a></li>
          <li><a href="team.html">Our Team</a></li>
          <li><a href="success.html">Success</a></li>
          <li><a href="career.html">Career with Us</a></li>
          <li><a href="#">Definitions</a></li>
          <li><a href="contacts.html">Contact Us</a></li>
        </ul>
      </nav>
      <button class="burger" aria-label="Открыть меню" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
