<div class="testimonials__slider">
  <div class="swiper slider-testimonials">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide slider-testimonials__slide">
        <div class="slider-testimonials__raiting">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="slider-testimonials__text">At the forefront of our decision making processes are our customers…the
          team at Lifetime Legal showed a level of understanding that was refreshing and demonstrated a willingness to
          work together in developing services which enabled us to place our customers first…</div>
        <div class="slider-testimonials__names">Tony Gibson, Managing Director, Residential Sales, Romans Estate Agents
        </div>
      </div>

      <div class="swiper-slide slider-testimonials__slide">
        <div class="slider-testimonials__raiting">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="slider-testimonials__text">Conveyancing is a rapidly growing part of our business; we have developed
          a panel of solicitors (local and national) that work with us to understand our business. Lifetime Legals
          approach to managing our panel delivers consistent service, reduces transaction timescales and increases
          success…</div>
        <div class="slider-testimonials__names">Kevin Shaw, Managing Director, Residential Sales, Leaders Estate Agents
        </div>
      </div>

      <div class="swiper-slide slider-testimonials__slide">
        <div class="slider-testimonials__raiting">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="slider-testimonials__text">After almost eight years of working with Lifetime Legal we highly
          recommend them as a great business partner, they are good communicators, listen to our needs, adapt to our
          requests and they recognise that we are their customer; they don’t take anything for granted…</div>
        <div class="slider-testimonials__names">Tracy Smith, Managing Director Homes Partnership Estate Agents</div>
      </div>
    </div>
    <!-- If we need pagination -->

    <div class="swiper-pagination"></div>
  </div>
</div>
