:root {
  // base
  --font-family: "OpenSans";
  --content-width: 1350px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --colorMain: #333333;
  --blueBg: #EAF4FB;
  --mainBg: #e5e5e5;
  --colorBlue: #005d95;
  --colorYellow: #ffc107;
  --colorWhite: #ffffff;
}
