// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@import "./components/header";
@import "./components/footer";

//Header
body {
  position: relative;
}

.page__body {
  &.lock {
    overflow: hidden;
  }
}


// Hero section

.hero {
  padding-top: 180px;
  @media (max-width: 992px) {
    padding-top: 150px;
  }
  @media (max-width: 768px) {
    padding-top: 100px;
  }
  @media (max-width: 576px) {
    padding-top: 80px;
  }
  // .hero__wrap

  &__wrap {
  }

  // .hero__block

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      margin-bottom: 150px;
      @media (max-width: 992px) {
        margin-bottom: 100px;
      }
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
      .hero__info {
        max-width: 550px;
        padding-right: 30px;
        @media (max-width: 992px) {
          padding-right: 0;
        }
      }
      .hero__img {
        text-align: right;
        @media (max-width: 992px) {
          text-align: center;
        }
      }
    }
    &:last-child {
      .hero__img {
        order: -1;
        @media (max-width: 992px) {
          order: 0;
        }
      }
      .hero__info {
        max-width: 660px;
        padding-left: 30px;
        @media (max-width: 992px) {
          padding-left: 0;
        }
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .hero__info

  &__info {
    flex: 0 1 50%;
    @media (max-width: 992px) {
      margin-bottom: 40px;
      text-align: center;
    }
    p.hero__name {
      @media (max-width: 576px) {
        margin: 10px 0;
        font-size: 18px;
      }
    }
  }

  // .hero__title

  &__title {
  }

  // .hero__btn

  &__btn {
    margin-top: 20px;
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  // .hero__img

  &__img {
    flex: 0 1 50%;
    @media (max-width: 768px) {
     text-align: center;
     img {
      width: 80%;
    }
    }
  }

  // .hero__name

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  // .hero__text

  &__text {
    line-height: 20px;
  }
}


//Partner section

.partner {
  padding-top: 140px;
  padding-bottom: 30px;
    @media (max-width: 1200px) {
    padding-top: 80px;
  }
  @media (max-width: 576px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // .partner__wrap

  &__wrap {

  }

  // .partner__title

  &__title {
    text-align: center;
  }

  // .partner__items

  &__items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1289px) {
      justify-content: center;
      gap: 30px;
    }

  }

  // .partner__item

  &__item {
    width: 315px;
    min-height: 430px;
    text-align: center;
    //position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 2;
    @media (max-width: 689px) {
      background: #FFFFFF;
      outline: 1px solid #CDE5F5;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
      border-radius: 10px;
    }
    &:hover {
      background: #FFFFFF;
      outline: 1px solid #CDE5F5;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(0, 93, 149, 0.1);
      border-radius: 10px;
      .partner__btn {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // .partner__img

  &__img {}

  // .partner__name

  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  // .partner__btn

  &__btn {
    margin: 30px auto 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    @media (max-width: 689px) {
      visibility: visible;
      opacity: 1;
    }
  }

  // .parnter__text

  &__text {
    margin-top: 10px;
    font-weight: 400;
    line-height: 20px;
  }
}

// Count page

.count {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: var(--blueBg);
  position: relative;
  @media (max-width: 576px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // .count__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 992px)  {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 576px)  {
      justify-content: flex-start;
    }
  }

  // .count__item

  &__item {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      margin-bottom: 15px;
    }
  }

  // .count__img

  &__img {
    @media (max-width: 576px) {
      max-width: 80px;
      img {
        width: 80%;
      }
    }
  }

  // .count__info

  &__info {
    padding-left: 30px;
    line-height: 25px;
    @media (max-width: 1200px) {
      font-size: 13px;
      line-height: 18px;
      padding-left: 20px;
    }
    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 16px;
    }
    span {
      display: block;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      @media (max-width: 576px) {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: var(--colorWhite);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100%;
    height: 150px;
    z-index: 1;
    @media (max-width: 768px) {
      top: -10px;
    }
    @media (max-width: 576px) {
      position: static;
    }

  }
}
.customers {
  background-color: var(--blueBg);
  padding-bottom: 150px;
  position: relative;
  @media (max-width: 576px) {
    padding-bottom: 100px;
  }
  &__title {
    text-align: center;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 100px;
    z-index: 1;
    @media (max-width: 576px) {
      bottom: 60px;
    }
  }
  .swiper-pagination-bullet {
    width: 40px;
    height: 6px;
    background: var(--colorBlue);
    opacity: 0.2;
    border-radius: 3px;
  }
  .swiper-pagination-bullet-active {
    background: #005D95;
    border-radius: 3px;
    width: 80px;
    opacity: 1;
  }
}
// Slider
.testimonials {

  // .testimonials__slider

  &__slider {
    margin-top: 40px;
  }
}
.slider-testimonials {
  position: relative;
  // .slider-testimonials__slide

  &__slide {
    width: 430px;
    height: auto;
    padding: 30px;
    background: var(--colorWhite);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    @media (max-width: 768px) {
      padding: 20px 15px;
      max-width: 100% !important;
      height: auto;
    }
    @media (max-width: 576px) {
      padding: 15px;
      width: 100% !important;
      height: auto;
    }
  }

  // .slider-testimonials__raiting

  &__raiting {
    color: var(--colorYellow);
  }

  // .slider-testimonials__text

  &__text {
    margin-top: 24px;
    line-height: 20px;
  }

  // .slider-testimonials__names

  &__names {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}



